@import url('https://fonts.googleapis.com/css?family=Bitter|Montserrat&display=swap');



html{
    background-color: #dfdfd7;
}

body{
    padding: 0;
    margin: 0;
    font-family: montserrat;
}

.main{
    width: 65%;
    margin: auto;
}

.nav{
    background-color: #F25C05;
    height: 100px;
    box-shadow: 0px 5px 3px #afafaf;
}

.nav h1{
    width: 500px;
    float: left;
    color: #ffffff;
    margin-top: 17px;  
}

#navLogo{
    float: right;
    margin-right: 5%;
    background-color: #ffffff;
    height: 150px;
    box-shadow: 0px 5px 3px #afafaf;
}

#navLogo img{
    margin-top: 5%;
    width: 150px;
}

footer{
    background-color: #F25C05;
    height: 200px;
    color: #afafaf;
}

footer h2{
    color: #ffffff;
    padding:  20px 0px 20px 0px;
}

footer p{
    color: #ffffff;
}

#vehicles{
    margin: 20px 0 0 0;
}

.card{
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 5px 5px 5px 4px #afafaf;
}

h1{
    font-family: bitter;
    margin: 0;
    color: #DFDFD7;
    font-size: 48px;
}

h2{
    font-family: bitter;
    font-size: 3 rem;
    margin: 0;
    color: #000000;
    padding: 0;
}

h3{
    font-family: sans-serif;    
    padding: 0;
    margin: 0;

}

.car{
    width: 250px;
    height: 270px;
    display: inline-block;
    background-color: #eceaea;
    text-align: center;
    padding: 5px;
    border: 5px solid #eceaea;
    margin: 10px 5px 0px 0px;
}

.car img{
    width: 100%;
    float: left;
}

.next{
    background-color: none;
    border: 2px solid grey;
    border-radius: 2px;
    padding: 5px;
}

.invisible-radio {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.invisible-radio:checked + label{
    border: 5px solid #F25C05;
}

.invisible-radio:not(:checked) + label {
    cursor: pointer;
}

textarea {
    width: 50%;
    height: 70px;
    resize: none;
}

/* Media query for phones */
@media only screen and (max-width: 400px) {
    .main{
        width: 95%;
    }
    
    .nav h1{
        width: 100%;
    }

    #constantOutput{
        display: none;
    }

    .car{
        width: 100%;
        padding: 0;  
    }

    form{
        padding: 0;
    }
}

/* Media query for ultrawide resolutions */
@media only screen and (min-width: 2560px) {
    .main{
        width: 50%;
    }
}

/* Split screen 1080p / tablet */
@media only screen and (max-width: 1000px) {
    .main{
        width: 90%;
    }

    .car{
        width: 35%;
        height: 300px;
    }
}

/* Calendar */
.ui-datepicker {
    background: #dfdfd7;
    font-size: 14px;
    padding: 10px;
    border: 2px solid #ffeedd;
}

.ui-datepicker-prev {
}

.ui-datepicker-next {
float:right;
}

a.ui-state-default:hover{
    border: 1px solid white;
    background: #5bfec8;
    font-weight: bold;
    color: black;
}

.ui-datepicker a{
    color: black;
}

.ui-datepicker-title {
    text-align: center;
    font-weight:bold;

}